body{
    --roxo-vivo: #9747FF;
    --roxo: #AC7AA1;
    --verde: #99D392;
    --verde-claro: #7CCB9F;
    --ciano: #7CCB9F;
    --verde-escuro: #4D8D69;
    --branco: #ffffff;
    height: auto;
}

.section-green{
  background: rgb(232,243,230);
  background: -moz-linear-gradient(145deg, rgba(232,243,230,1) 5%, rgba(255,255,255,) 50%, rgba(232,243,230,1) 97%);
  background: -webkit-linear-gradient(145deg, rgba(232,243,230,1) 5%, rgba(255,255,255,) 50%, rgba(232,243,230,1) 97%);
  background: linear-gradient(145deg, rgba(232,243,230,1) 5%, rgba(255,255,255,) 50%, rgba(232,243,230,1) 97%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8f3e6",endColorstr="#e8f3e6",GradientType=1);
}

.section-dark{
  background: rgb(90,105,92);
  background: -moz-linear-gradient(145deg, rgba(90,105,92,1) 0%, rgba(33,37,41,1) 50%, rgba(90,105,92,1) 100%);
  background: -webkit-linear-gradient(145deg, rgba(90,105,92,1) 0%, rgb(33, 37, 41) 50%, rgba(90,105,92,1) 100%);
  background: linear-gradient(145deg, rgba(90,105,92,1) 0%, rgba(33,37,41,1) 50%, rgba(90,105,92,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5a695c",endColorstr="#5a695c",GradientType=1);
}

.section-green2{
  background: rgb(232,243,230);
  background: -moz-linear-gradient(215deg, rgba(232,243,230,1) 5%, rgba(255,255,255,) 50%, rgba(232,243,230,1) 97%);
  background: -webkit-linear-gradient(215deg, rgba(232,243,230,1) 5%, rgba(255,255,255,) 50%, rgba(232,243,230,1) 97%);
  background: linear-gradient(215deg, rgba(232,243,230,1) 5%, rgba(255,255,255,) 50%, rgba(232,243,230,1) 97%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8f3e6",endColorstr="#e8f3e6",GradientType=1);
}

.section-dark2{
  background: rgb(90,105,92);
  background: -moz-linear-gradient(215deg, rgba(90,105,92,1) 0%, rgba(33,37,41,1) 50%, rgba(90,105,92,1) 100%);
  background: -webkit-linear-gradient(215deg, rgba(90,105,92,1) 0%, rgba(33,37,41,1) 50%, rgba(90,105,92,1) 100%);
  background: linear-gradient(215deg, rgba(90,105,92,1) 0%, rgba(33,37,41,1) 50%, rgba(90,105,92,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5a695c",endColorstr="#5a695c",GradientType=1);
}

:root{
  --celular: 540px;
  --tablet: 720px;
  --computador: 1400px;
}


input[type=checkbox] {
    border: 2px solid var(--ciano);
    box-shadow: none;
  }
  
  input[type=checkbox]:checked {
    background-color: var(--ciano);
    border-color: var(--ciano);
    box-shadow: none;
    outline: none;
  }

  input[type=checkbox]:focus {
    border-color: var(--ciano);
    box-shadow: none;
    outline: none;
  }
  
  .banner-1 {
    background-image: url(https://img.freepik.com/fotos-premium/fundo-abstrato-de-tecnologia-digital_7247-1828.jpg);
  }
  
  .banners {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 12rem;
    max-height: 80vh;
  }
  
  .banners-titulo {
    --bs-bg-opacity: .2;
    margin-left: 10rem;
  }

  @media (max-width: 720px){
    .banners-titulo{
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
  
  /* .banner-2{
    background-image: url(./assets/banner-2.png);
  }
  
  .banner-3{
    background-image: url(./assets/banner-3.png);
  }
   */
  .banners {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
  }
  
  .banners-titulo {
      --bs-bg-opacity: .2;
      /* olhar no HTML que ta lá desse modo */
  }

  .botao-padrao {
    background-color: var(--ciano);
    color: black;
  }
  
  .botao-padrao:hover {
    background-color: var(--verde);
  }
  
  .input-range::-webkit-slider-thumb, footer {
    background-color: var(--ciano);
  }
  
  [data-bs-theme="dark"] {
    color: white;
    .nav-link, .card-body, .offcanvas, .accordion, .btn {
      --bs-nav-link-color: white;
      --bs-card-color: white;
      --bs-offcanvas-color: white;
      --bs-body-color: white;
      --bs-body-color: white;
    }
}

/* Card da home 1,2,3 e 4 */
#containerDashComponentesKPI{
  height: auto;
  width: 90%;
}

#divtitulo{
  width: 20vh;
  height: 10vh;
}

#titulo{
  color:#021e46;
  font-size: large;
}

#componenteDia{
  height: 20vh;
  width: 95%; 
}

#totalLogsDia{
  display: flex;
  height: 20vh;
  width: 95%;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}

#qtdLogsHora{
  display: flex;
  height: 20vh;
  width: 95%;
  font-size: 50px;
  justify-content: center;
  align-items: center;
}
/* FIM Card da home 1,2,3 e 4 */


